<section class="flex flex-col p-4 pb-4 md:px-8 md:flex-row">
  <div class="flex flex-col place-content-center">
    <h1
      class="text-2xl md:text-3xl mb-4 font-bold text-gray-800 dark:text-slate-100"
    >
      A tool to generate summaries in a easy way
    </h1>
    <h2 class="text-sm md:text-md text-gray-800 dark:text-slate-100">
      We create a platform to help people to generate summaries with less
      effort.
    </h2>

    <a
      href="/summarize"
      class="focus:outline-none text-white text-center bg-[#AF26D1] hover:bg-[#7A0098] font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 mt-4 w-48"
      >Demo</a
    >
  </div>
  <figure class="hidden md:inline md:p-8">
    <img
      src="/images/convert.svg"
      alt="Summarify is a service that help you to create summaries in a easy way"
      class="aspect-[4/3]"
    />
  </figure>
</section>
