<nav class="flex h-auto p-4 md:px-8 md:py-6">
  <div class="flex gap-2 items-center">
    <figure>
      <img
        src="/logo.png"
        alt="Summarify Logo: Logo is a triangle that means the interaction between the person and two AI's to complete a work"
        class="w-8 h-8 sm:w-9 sm:h-9"
      />
    </figure>
    <h2 class="text-2xl text-gray-800 dark:text-slate-100 font-semibold">
      Summarify
    </h2>
  </div>
  <ul class="hidden sm:flex sm:flex-1 sm:justify-end sm:items-center">
    <li class="mr-8 font-medium text-gray-800 dark:text-slate-100">
      <a href="#benefits">Benefits</a>
    </li>
    <li class="font-medium text-slate-100">
      <a
        href="/summarize"
        class="focus:outline-none text-white text-center bg-[#AF26D1] hover:bg-[#7A0098] font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 mt-4"
        >Demo</a
      >
    </li>
  </ul>
</nav>
